.transaction-type-label {
  color: #12A6C0;
}

.transaction-select {
  padding: 10 5 10;
  /* border-bottom-width: 1;
  border-bottom-color: rgb(235, 235, 235); */
}

.positive-amount {
  color: #12A6C0;
}

.negative-amount {
  color: red;
}

/* .card {
  padding: 20;
} */