<StackLayout>
  <!-- Filter -->
  <ns-card-view>
    <FlexboxLayout justifyContent="space-between" ios:flexDirection="row" class="p-5 input-field">
      <!-- Search Bar -->
      <StackLayout class="search-bar-container" width="70%">
        <SearchBar hint="Search" (loaded)="onSearchBarLoaded($event)" width="100%"></SearchBar>
      </StackLayout>

      <!-- Transaction Types Select -->
      <DockLayout class="transaction-select-container" flexGrow="1">
        <Label dock="top" text="Type" class="transaction-type-label t-10"></Label>
        <DropDown accessoryViewVisible="false" selectedIndex="1" [items]="transactionTypes" (selectedIndexChange)="selectedIndexChanged($event)"
          class="transaction-select"></DropDown>
      </DockLayout>
    </FlexboxLayout>
  </ns-card-view>

  <!-- Table -->
  <ns-card-view>
    <Label *ngIf="(!filteredTransactions || !filteredTransactions.length) && !isLoading" text="No transactions found"
      textAlignment="center"></Label>
    <ActivityIndicator *ngIf="isLoading" [busy]="isLoading"></ActivityIndicator>
    <ListView *ngIf="!isLoading && filteredTransactions && filteredTransactions.length" [items]="filteredTransactions"
      height="100%">
      <ng-template let-transaction="item">
        <StackLayout>
          <FlexboxLayout justifyContent="space-between" alignItems="center" class="m-5 p-5">
            <!-- Transaction Type and Date -->
            <StackLayout>
              <Label [text]="transaction.transactionType" class="t-15"></Label>
              <Label [text]="transaction.processDate | date" class="t-12"></Label>
            </StackLayout>

            <!-- Amount -->
            <Label [text]="transaction.amount | currency" [style.color]="transaction.amount >= 0 ? '#12A6C0' : 'red'"
              class="t-15 font-weight-bold p-r-15"></Label>
          </FlexboxLayout>
        </StackLayout>
      </ng-template>
    </ListView>
  </ns-card-view>
</StackLayout>