<ActionBar>
  <StackLayout orientation="horizontal" horizontalAlignment="center">
    <Image src="res://logo" ios:height="45" android:height="80" class="title-icon"></Image>
  </StackLayout>
  <NavigationButton text="Back" android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
</ActionBar>

<StackLayout>
  <Button *sdkIfIos shadow="3" class="btn btn-primary" text="Sign Out" (tap)="signOut()"></Button>
  <Button *sdkIfAndroid class="btn btn-primary" text="Sign Out" (tap)="signOut()"></Button>

  <!-- Contact Us -->
  <StackLayout class="m-10">
    <Button *sdkIfIos text="Contact Us" [nsRouterLink]="['/contact-us']"></Button>
    <Label *sdkIfAndroid text="Contact Us" [nsRouterLink]="['/contact-us']" color="#007BFF" textAlignment="center"></Label>
  </StackLayout>
</StackLayout>