/* .greeting {
  margin: 1%;
  color: #12A6C0;
  font-size: 30;
} */
.show-detail-btn {
  margin-left: 10;
  border-width: 1;
  border-color: transparent;
  border-left-color: #EBEBEB;
  padding: 0;
}