<StackLayout class="page">
  <Image src="res://logo"></Image>

  <StackLayout class="form">
    <!-- <Label [text]="base_url"></Label> -->
    <!-- Phone Input -->
    <TextField #phoneInput hint="Phone Number" [(ngModel)]="phoneNumber" keyboardType="number" maxLength="10"
      (textChange)="validateInput(phoneInput, ssnInput)"></TextField>

    <!-- SSN Input -->
    <TextField #ssnInput hint="Last 4 SSN digits" secure="true" [(ngModel)]="lastFourSSN" keyboardType="number"
      returnKeyType="done" maxLength="4" class="m-b-20" (textChange)="validateInput(phoneInput, ssnInput)"
      (returnPress)="validateInput(phoneInput, ssnInput) && login()"></TextField>

    <!-- Login Button -->
    <Button #loginBtn text="Sign In" isEnabled="false" (tap)="login()" class="login-btn"></Button>

    <!-- Contact Us -->
    <StackLayout class="m-10">
      <Button *sdkIfIos text="Contact Us" [nsRouterLink]="['/contact-us']"></Button>
      <Label *sdkIfAndroid text="Contact Us" [nsRouterLink]="['/contact-us']" color="#007BFF" textAlignment="center"></Label>
    </StackLayout>

    <!-- Spinner -->
    <ActivityIndicator rowSpan="3" [busy]="isLoggingIn" class="m-t-5"></ActivityIndicator>
  </StackLayout>
</StackLayout>