.page {
  background-color: #12A6C0;
  background: linear-gradient(to bottom right, #12A6C0, rgb(139, 199, 209));
}

Image {
  width: 80%;
}

.form {
  margin: 0 15%;
}

TextField {
  placeholder-color: white;
  color: white;
  font-size: 25;
}

.login-btn {
  border-radius: 20 20 20 20;
  font-size: 30;
  font-weight: 600;
}