TextField {
  margin: 15 0;
  border-bottom-color: white;
  border-bottom-width: 1;
  padding: 5 0;
}

.login-btn {
  color: white;
  border-width: 2;
  border-color: white;
  margin-top: 5;
}

.login-btn:disabled {
  color: #DDDDDD;
  border-color: #DDDDDD;
}