<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>422739635229-i4e1766at64mh769se21gubkj405tjd7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422739635229-i4e1766at64mh769se21gubkj405tjd7</string>
	<key>API_KEY</key>
	<string>AIzaSyAw-gHs8Hg5eujt8xD4QDtYE8F_5NBaT4A</string>
	<key>GCM_SENDER_ID</key>
	<string>422739635229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.stimobileapp</string>
	<key>PROJECT_ID</key>
	<string>sti-mobile-app-test</string>
	<key>STORAGE_BUCKET</key>
	<string>sti-mobile-app-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422739635229:ios:4372777fe3c1e48d</string>
	<key>DATABASE_URL</key>
	<string>https://sti-mobile-app-test.firebaseio.com</string>
</dict>
</plist>