/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';
@import 'platform.css';

Page {
  background-color: rgb(235, 235, 235);
}

ActionBar {
  background-color: #12A6C0;
}

CardView {
  background-color: white;
  margin: 1%;
}

.title {
  padding-bottom: 5;
  margin-bottom: 10;
  color: #12A6C0;
  font-size: 30;
  border-bottom-color: rgb(235, 235, 235);
  border-bottom-width: 1;
  text-align: center;
}

TextField {
  padding: 5;
}

.small-font {
  font-size: 10;
}

.medium-font {
  font-size: 20;
}

.large-font {
  font-size: 30;
}

.sti-btn {
  background-color: #12A6C0;
  color: white;
}

.test {
  background-color: red;
}