<ActionBar>
  <StackLayout orientation="horizontal" horizontalAlignment="center">
    <Image src="res://logo" ios:height="45" android:height="80" class="title-icon"></Image>
  </StackLayout>
  <NavigationButton text="Back" android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
</ActionBar>

<StackLayout class="p-5 t-15">
  <Label text="Make Payment" textAlignment="center" class="title m-t-10"></Label>

  <!-- Existing ACH Details -->
  <ns-card-view>
    <!-- Title -->
    <Label text="Existing ACH Details" class="title"></Label>

    <!-- Account Holder Name -->
    <FlexboxLayout justifyContent="space-between" class="p-5">
      <Label text="Acct. Holder Name:"></Label>
      <ActivityIndicator *ngIf="isLoading" [busy]="isLoading" width="15" height="15"></ActivityIndicator>
      <Label *ngIf="!isLoading" text="John Smith" class="font-weight-bold"></Label>
    </FlexboxLayout>

    <!-- Bank Name -->
    <FlexboxLayout justifyContent="space-between" class="p-5">
      <Label text="Bank Name:"></Label>
      <ActivityIndicator *ngIf="isLoading" [busy]="isLoading" width="15" height="15"></ActivityIndicator>
      <Label *ngIf="!isLoading" text="Chase" class="font-weight-bold"></Label>
    </FlexboxLayout>

    <!-- Account Type -->
    <FlexboxLayout justifyContent="space-between" class="p-5">
      <Label text="Account Type:"></Label>
      <ActivityIndicator *ngIf="isLoading" [busy]="isLoading" width="15" height="15"></ActivityIndicator>
      <Label *ngIf="!isLoading" text="Checking" class="font-weight-bold"></Label>
    </FlexboxLayout>

    <!-- Account Number -->
    <FlexboxLayout justifyContent="space-between" class="p-5">
      <Label text="Account Number:"></Label>
      <ActivityIndicator *ngIf="isLoading" [busy]="isLoading" width="15" height="15"></ActivityIndicator>
      <Label *ngIf="!isLoading" text="xxxx1212" class="font-weight-bold"></Label>
    </FlexboxLayout>

    <!-- Account Routing Number -->
    <FlexboxLayout justifyContent="space-between" class="p-5">
      <Label text="Routing Number:"></Label>
      <ActivityIndicator *ngIf="isLoading" [busy]="isLoading" width="15" height="15"></ActivityIndicator>
      <Label *ngIf="!isLoading" text="123456789" class="font-weight-bold"></Label>
    </FlexboxLayout>
  </ns-card-view>

  <!-- Deposit Details -->
  <ns-card-view>
    <Label text="Deposit Details" class="title"></Label>

    <!-- Date -->
    <FlexboxLayout justifyContent="space-between" class="p-5">
      <Label text="Date:"></Label>
      <FlexboxLayout #dateBtn *sdkIfAndroid (tap)="pickDate(dateBtn)" color="#12A6C0" alignItems="center">
        <Label text="date_range" class="mat-icon m-r-5"></Label>
        <Label [text]="date | date"></Label>
      </FlexboxLayout>
      <StackLayout *sdkIfIos orientation="horizontal" color="#12A6C0">
        <Button (tap)="pickDate()">
          <Span text="date_range" class="mat-icon"></Span>
        </Button>
        <Button [text]="date | date" (tap)="pickDate()"></Button>
      </StackLayout>
    </FlexboxLayout>

    <!-- Amount -->
    <FlexboxLayout justifyContent="space-between" class="p-5">
      <Label text="Amount:"></Label>
      <StackLayout orientation="horizontal">
        <Label text="$"></Label>
        <TextField hint="00.00" [(ngModel)]="amount" keyboardType="number" class="p-0"></TextField>
      </StackLayout>
    </FlexboxLayout>
  </ns-card-view>

  <!-- Schedule Deposit Button -->
  <Button text="Schedule" backgroundColor="#12A6C0" color="white" class="m-5 t-20" borderRadius="10" ios:height="50"></Button>
</StackLayout>